# Ignore Laravel and Node dependencies
LMS-System/vendor/
LMS-System/node_modules/
LMS-System/public/storage
LMS-System/public/hot
LMS-System/public_html/storage
LMS-System/public_html/hot

# Ignore Laravel environment/config/secrets
LMS-System/.env
LMS-System/.env.*
LMS-System/storage/*.key
LMS-System/storage/pail
LMS-System/.phpunit.result.cache
LMS-System/Homestead.*
LMS-System/.vagrant

# Misc tools
LMS-System/.phpactor.json
LMS-System/auth.json
LMS-System/npm-debug.log
LMS-System/yarn-error.log

# Optional builds
LMS-System/public/build

# Laravel 4 legacy (just in case)
LMS-System/bootstrap/compiled.php
LMS-System/app/storage/
